

 
<h1><%= @message.description %></h1>
<p>Posted by <%= @message.user.username %><br><%= time_ago_in_words(@message.created_at)%> ago</p>

<h2><%= render @message.comments %></h2>

<h3>Reply</h3>
<%= render 'comments/form' %>

</div>


<%= link_to "Back", messages_path %>

<% if @message.user_id == current_user.id %>
<%= link_to "Edit", edit_message_path(@message) %>
<%= link_to "Delete", message_path(@message), method: :delete, data: {confirm: "Are you sure you want to delete?  This can NOT be undone"} %>
	<% end %>







