

<h2><%= flash[:notice] if flash[:notice] %></h2>
 
<body class="background">



	<!-- <div class="clapper">
		
	</div> -->
	<!-- <h1 class="text center">WELCOME BACK</H1> -->
<div class="signinform">
	<%= form_tag login_path do%>
	<h1><div class="text-center text-uppercase">
		<%= label_tag :username %>
		</div></h1>

		<h1><div class="login1 text-center text-uppercase">
		<%= text_field_tag :username %>
		</div></h1>
	<br>

	<h1><div class="text-center text-uppercase">
		<%= label_tag :password %></div>
	<h1><div class="login3 text-center text-uppercase">
		<%= password_field_tag :password %>
	</div></h1>
</div>


	<div class= "button1 text-center">
		<%= submit_tag "ACTION" %>

	<% end %>	

</div>
<!-- <div class="container">
<div class="row">
  <div class="span4"></div>
  <div class="span4"><img class="piccontainer center-block" src="/assets/clapper.png" /></div>
  <div class="span4"></div>
</div> -->
	
</body>



