<body class="profilebod">
	
<%= render 'layouts/usernavigation' %>
	
<div id="profilepage">
<h1 class="text-uppercase">Welcome <%= @user.fname %></h1>
<br>
	<div id="headshot">
	<%= image_tag @user.avatar.url :medium %>
	</div>	
<div class="text-uppercase">
<strong>First Name</strong>:  <%= @user.fname %><br><br>
<strong>Last Name</strong>:   <%= @user.lname %><br><br>
<strong>City</strong>:        <%= @user.city %><br><br>
<strong>State</strong>:       <%= @user.state %><br><br>
<strong>Email</strong>:       <%= @user.email %><br><br>
<strong>Username</strong>:     <%= @user.username %><br><br>
<strong>Role</strong>:        <%= @user.roll %> 
</div>

<br>
<div id="footer">
	
</div>
<%= render 'layouts/personalnav' %>
</body>



