<h1>Editing Video</h1>

<%= form_for [@band, @video] do |f| %>


  <div class="form-inputs">
    <%= f.text_field :title, placeholder: :title %>
    
    <%= f.text_field :url, placeholder: "URL" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit: :update band_video_path %>
  </div>

<% end %>


<%= link_to 'Back', band_videos_path %>
