<%= render 'layouts/usernavigation' %>
<body class="bkindex text-uppercase">

<!-- <p id="notice"><%= notice %></p> -->
  
  <h1 class="inco text-center"><%=@band[:bname]%> Videos</h1>
  
      
    <div class= "picind text-center">
      
    <%= image_tag @band.avatar.url :medium %>
  
<table>
  <thead>
    <tr>
      <!-- <th class = "text-uppercase"><h4>Title</h4></th> -->
      <!-- <th>Band</th> -->
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    
    <% @videos.each do |video| %>
      <tr>
        <h2><div class=" inco text-uppercase"><%=video.title %></div></h2>
        
        
        <div class="btn-group btn btn-danger btn-sm"><%= link_to 'Show', band_video_path(@band, video), class: "btn btn-danger" %></div>

        <%# link_to 'Edit', edit_band_video_path(@band, video), class: "btn btn-danger" %>
        <div class="btn-group btn btn-danger btn-sm"><%= link_to 'Destroy', band_video_path(@band, video), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
    
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_band_video_path %></button>
<li><%= link_to "Back To Profile", user_path(current_user) %>
  <%=link_to "Back To Band Profile",
  band_path(@band) %>

</body>
