<p id="notice"><%= notice %></p>

<h1><%=@band[:bname]%> Videos</h1>
    <%= image_tag @band.avatar.url :thumb %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <!-- <th>Band</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @videos.each do |video| %>
      <tr>
        <td><%=video.title %></td>
        

        <td><%= link_to 'Show', band_video_path(@band, video) %></td>

        <td><%= link_to 'Edit', edit_band_video_path(@band, video) %></td>
        <td><%= link_to 'Destroy', band_video_path(@band, video), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_band_video_path %>
<li><%= link_to "Back To Profile", user_path(current_user) %>
  <%=link_to "Back To Band Profile",
  band_path(@band) %>
