<%= render 'layouts/usernavigation' %>
<body class="vshow">

<p id="notice"><%= notice %></p>

<div class="vvideo">
<p>

  <h3 class="text-uppercase"><strong>Title:</strong></h3>
  <h4 class="text-uppercase"><%= @video.title %></h4>
</p>

<iframe width="800" height="400" src="https://www.youtube.com/embed/<%= @video.url.match(/\?v=(.+)/)[1] %>" frameborder="0" allowfullscreen></iframe>
<br>

<%# link_to 'Edit', edit_band_video_path(@band, @video) %> 
<!-- <ul class="menu">
<span><%= link_to 'Band Profile', band_path(@band) %></span> |
<span><%= link_to "Back To Profile", user_path(current_user) %></span> | 
<span><%= link_to "Edit Profile", edit_user_path(current_user) %></span>
</ul> -->
</vvideo>


</body>