
<body class="profile">

<%= render 'layouts/usernavigation' %>

<!-- <div class="container"></div> -->
	<div class="Jumbotron text-center">
		<h1><%= @band.bname %></h1>
<br>
</div>

 
	<div class="container col-md-4">
	<%= image_tag @band.avatar.url :large %>
	<br>
	<br>
	<ul>
	<li><%= audio_tag @band.mp3, controls: true%></li>
	<li><h2><%=@band.track%></h2></li>
	</ul>

	<%= link_to "See Band Videos", band_videos_path(@band, @videos) %>
	</div>

<div class="procontainer col-md-4 text-center text-uppercase">
	<ul>	
	<h3>
	<p class="text-justify"><li class="bs">CITY:<br>
		<answer class="blue">
		<%=@band[:city]%></answer>
	</li><br></p>
	<p><li class="bs">STATE:<br><answer class="blue"><%=@band[:state]%></answer></li><br></p> 
	<p class="text-justify"><li class="bs">EMAIL:<br><answer class="blue"><%=@band[:email]%></answer></li><br></p>
	<p class="text-justify"><li class="bs" >GENRE:<br><answer class="blue"><%=@band[:genre]%></answer></li><br></p>

	</h3>
	</ul>
</div>

<div class="rightcontainer col-md-4 text-right">
<h2>BIO:<%=@band[:bio] %></h2>
	</div>

<div class="footer-container">
	<ul class="footerclass">
	<div class="btn btn-danger btn-sm" role"button">	
		<li><%= link_to "Post a video", new_band_video_path(@band, @video), class: "btn btn-primary" %></li> </div>
		<div class="btn btn-danger btn-sm" role"button">
		<li><%= link_to "Edit Band Page", edit_band_path(@band), class: "btn btn-primary" %></li></div>
		<div class="btn btn-danger btn-sm" role"button">
		<li><%= link_to "Back To Profile", user_path(current_user), class: "btn btn-primary" %></li></div>
		<div class="btn btn-danger btn-sm" role"button">
		<li><%= link_to "Delete Band", band_path(@band), method: :delete, data: { confirm: "You Want To Delete This Band" }, class: "btn btn-primary" %></li></div>
	</ul>
</div>
<%# unless @video.nil? %>

</div>
</body>
<%# end %>