<h1> BAND PAGE </h1>
<%= render 'layouts/navigation' %>


<h1> Welcome <%= @band.bname %></h1>

<%= image_tag @band.avatar.url :medium %>


  <%= audio_tag @band.mp3, controls: true %>
  

	<h1> <%= @band.track %></h1>



<%= link_to "make a video", new_band_video_path(@band, @video) %>
<li><%= link_to "Edit Band Page", edit_band_path(@band) %></li>
<li><%= link_to "Back To Profile", user_path(current_user) %>
<li>
<%# unless @video.nil? %>
	<%= link_to "See Band Videos", band_videos_path(@band, @videos) %>
<%# end %>